@model Academy2023.Net.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserDataID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType.FuelTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarCategory.CarCategoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrunkAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrunkAvailable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
